.modal {
    display: block;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.order-item-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    width: auto;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.detail-footer {
    flex-direction: row;
    gap: 200px;
}

embed{
    width: 100%;
}

@media (max-width: 700px) {
    .detail-footer {
        gap: 50px;
    }
}

@media (max-width: 450px) {
    .detail-footer {
        gap: 10px;
        flex-direction: column;
    }

    .modal-content {
        margin: 30px auto;
        padding: 10px;
    }
}